In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
a=[1,8,7]
myvar=pd.Series(a)
myvar

0    1
1    8
2    7
dtype: int64

In [7]:
import pandas as pd
b=[5,8,9,6,1,7]
myvar=pd.Series(b)
myvar

0    5
1    8
2    9
3    6
4    1
5    7
dtype: int64

In [13]:
import pandas as pd
s=[5,8,9,4,5,6]
w=pd.Series(s)
print(w[3])
print(w)

4
0    5
1    8
2    9
3    4
4    5
5    6
dtype: int64

In [22]:
import pandas as pd
s=[9,5,7]
myvar=pd.Series(a,index=["S","P","U"])
print(myvar)

S    1
P    8
U    7
dtype: int64

In [28]:
import pandas as pd
s=[7,4,9,1]
my=pd.Series(s,index=["A","B","C","D"])
print(my)
print(my[2])

A    7
B    4
C    9
D    1
dtype: int64
9

C:\Users\HP\AppData\Local\Temp\ipykernel_2688\2049287290.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(my[2])

In [42]:
import pandas as pd

data = {
    "Calories": [420, 854, 964],
    "Duration": [50, 14, 8]
}  

df = pd.DataFrame(data)  
print(df)

   Calories  Duration
0       420        50
1       854        14
2       964         8

In [49]:
import pandas as pd
d={
    "calories":[420, 854, 964],
    "Duration":[50, 14, 8]
    
}
df=pd.DataFrame(d,index=["day1","day2","day3"])
df

      calories  Duration
day1       420        50
day2       854        14
day3       964         8

In [67]:
import pandas as pd
e={
    "Calories":[47, 78, 96],
    "Duration":[5, 7, 6],
    "days":["day1","day2","day3"]
    
}
df=pd.DataFrame(e,index=["Arun","kiran","sidhu"])



df

       Calories  Duration  days
Arun         47         5  day1
kiran        78         7  day2
sidhu        96         6  day3

In [69]:
import pandas as pd
e={
    "Calories":[47, 78, 96],
    "Duration":[5, 7, 6],
    "days":["day1","day2","day3"]
    
}
df=pd.DataFrame(e,index=["Arun","kiran","sidhu"])

df.loc["sidhu"]

Calories      96
Duration       6
days        day3
Name: sidhu, dtype: object